@import "foundation/functions";

// Palette
$primary-color: #556270;
$secondary-color: #EEEEEE;
$alert-color: #FF6B6B;
$success-color: #7ED0D6;
$warning-color: #EDE574;
$info-color: #4ECDC4;

// Top bar
$topbar-breakpoint: 400px;
$topbar-media-query: "only screen and (min-width: 400px)";