<div class="alert alert-error" ng-show="!authenticated">
	<a href="https://moodle.lse.ac.uk/" target="_lse">You are not authenticated on LSE's Central Authentication System!</a>
</div>

<div ng-show="authenticated">
	<div id="summary" class="alert alert-info">{{summary}}</div>
	<div id="fines" class="alert alert-error" ng-show="fines">
		<a href="https://library-1.lse.ac.uk/FinePayment/finePayment/finePayment" target="_lse">You owe &pound;{{fines}} in unresolved fines.</a>
	</div>

	<div id="loans" ng-show="items.length > 0">
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th class="cell_title">Title</th>
					<th class="cell_date">Due Date</th>
					<th class="cell_status">Status</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="item in items" ng-class="{ error: item.dueDate.status == 'OVERDUE' || item.dueDate.status == 'Not Renewed', warning: item.dueDate.status == '3DAYS', success: item.dueDate.status == 'OK' || item.dueDate.status == 'Renewed' }">
					<td>{{item.title}}</td>
					<td>{{item.dueDate['DD-MM-YY']}} {{item.dueDate['HH:MM']}}</td>
					<td>{{item.dueDate.status == '3DAYS' && '3 DAYS' || item.dueDate.status}}</td>
				</tr>
			</tbody>
		</table>
		<button id="renew" class="btn btn-inverse btn-large btn-block" type="button" ng-click="renew()">Renew All</button>
	</div>
</div>