<div>
	<button class="button small expand" title="Automatically renew your loans every time you log onto Moodle. You will be notified if it is unsuccessful." ng-click="toggleAutoRenew()" ng-bind="autoRenew && 'Disable Automatic Renewal (?)' || 'Enable Automatic Renewal (?)'"></button>
</div>

<div data-alert class="alert-box alert alert-box--login" ng-show="!authenticated">
	<a href="https://moodle.lse.ac.uk/" target="lse">
		You are not authenticated on LSE's Central Authentication System! 
		Login now &#8594;
	</a>
</div>

<div ng-show="authenticated">
	<div data-alert id="summary" class="alert-box info">
		{{patron.title}} {{patron.firstname}} {{patron.middlename}} {{patron.surname}}, 
		{{summary}}
	</div>
	<div data-alert id="fines" class="alert-box alert" ng-show="fines">
		<a href="https://library-1.lse.ac.uk/FinePayment/finePayment/finePayment" target="lse">
			You owe &pound;{{fines}} in unresolved fines.
		</a>
	</div>

	<div id="loans" ng-show="items.length > 0">
		<table class="loan_results">
			<thead>
				<tr>
					<th class="results_title">Title</th>
					<th class="results_date">Due Date</th>
					<th class="results_status">Status</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="item in items" ng-class="{ alert: item.dueDate.status == 'OVERDUE' || item.dueDate.status == 'Not Renewed', warning: item.dueDate.status == '3DAYS', success: item.dueDate.status == 'OK' || item.dueDate.status == 'Renewed' }">
					<td><a ng-href="{{item.opacUrl}}" target="lse">{{item.title}}</a></td>
					<td>{{item.dueDate['DD-MM-YY'] | humanize}}</td>
					<td>{{item.dueDate.status == '3DAYS' && '3 DAYS' || item.dueDate.status}}</td>
				</tr>
			</tbody>
		</table>
		<button id="renew" class="button medium expand" type="button" ng-click="renew()">Renew All</button>
	</div>
</div>